@model IEnumerable<Sigue.Models.tblEmpresa_estudiante>

@{
    ViewBag.Title = "Mantenimiento relación centro práctica estudiante";
}

<h2>Relacionar centro práctica estudiante</h2>

<p>
    @Html.ActionLink("Nueva Relación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblcentropractica.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblestudiante.EstudianteCod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblcentropractica.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblestudiante.EstudianteCod)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RelacionEEId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.RelacionEEId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.RelacionEEId })
        </td>
    </tr>
}

</table>
