@model Sigue.Models.tblconocimiendoRelacionado

@{
    ViewBag.Title = "Eliminar registro";
}

<h2>Eliminar</h2>

<h3>Está seguro de querere eliminar el registro?</h3>
<div>
    <h4>Conocimiendo Relacionado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requerido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requerido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblestudiante.EstudianteCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblestudiante.EstudianteCod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al menú", "Index")
        </div>
    }
</div>
