@model Sigue.Models.tblcooperador

@{
    ViewBag.Title = "Eliminar registro";
}

<h2>Eliminar</h2>

<h3>Está seguro de querer eliminar el registro?</h3>
<div>
    <h4>Cooperador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionesPracticas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionesPracticas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblcentropractica.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblcentropractica.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al menú", "Index")
        </div>
    }
</div>
