@model IEnumerable<Sigue.Models.tblcooperador>

@{
    ViewBag.Title = "mantenimiento cooperadores";
}

<h2>Mantenimiento cooperadortes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuncionesPracticas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblcentropractica.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuncionesPracticas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblcentropractica.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CooperadorId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CooperadorId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CooperadorId })
        </td>
    </tr>
}

</table>
