@model IEnumerable<Sigue.Models.tblfacultad>

@{
    ViewBag.Title = "Mantenimiento faculdades";
}

<h2>Mantenimiento facultades</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Facultad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Facultad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FacultadId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.FacultadId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.FacultadId })
        </td>
    </tr>
}

</table>
